/* Reset and base styling */
body,
html {
  margin: 0;
  padding: 0;
  font-family: 'Hiragino Maru Gothic ProN W4', sans-serif !important;
  background-color: #000434;
  /* Navy */
  color: #FFFFFF;
  /* White */
  font-size: 14px !important;
}
.container{
  max-width: none!important;
  overflow-x: hidden;
}
.rdt_TableHeadRow{
  background-color: #000434 !important;
  /* Orange */
  color: #FFFFFF !important;
  /* White */
  margin-bottom: 10px !important;
}
/* Layout container */
#user-panel {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

/* Sidebar */
.sidebar {
  background-color: #000434;
  /* Navy */
  color: #FFFFFF;
  /* White */
  width: 60px;
  min-width: 60px;
  transition: width 0.3s ease;
  overflow: hidden;
  /* display: flex; */
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem 0;
  position: relative;
  z-index: 10;
}

.sidebar:hover {
  width: 220px;
}

.nav-logo {
  display: flex;
  align-items: center;
  padding: 0 1rem;
  margin-bottom: 2rem;
  gap: 10px;
}

.nav-logo-icon {
  font-size: 1.5rem;
  color: #F5891E;
  /* Orange */
}

.nav-logo-name {
  font-size: 1.1rem;
  font-weight: bold;
  display: none;
  color: #FFFFFF;
  /* White */
}

.sidebar:hover .nav-logo-name {
  display: inline;
}

.nav-1 {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.nav-list-1 {
  /* display: flex; */
  overflow-y: auto;
  /* vertical scroll */
  overflow-x: hidden;
  /* prevent horizontal scroll */
  height: calc(100vh - 200px);
  flex-direction: column;
}

.nav-link-1 {
  display: flex;
  align-items: center;
  padding: 0.75rem 1rem;
  cursor: pointer;
  color: #FFFFFF;
  /* White */
  transition: background-color 0.2s ease, color 0.2s ease;
  gap: 10px;
  white-space: nowrap;
}

.nav-link-1:hover {
  background-color: #F5891E;
  /* Orange */
  color: #FFFFFF;
  /* White */
}

.nav-link-1.active {
  background-color: #F5891E;
  /* Orange */
  color: #FFFFFF;
  /* White */
}

.nav-link {
  display: flex;
  align-items: center;
  padding: 0.75rem 1rem;
  cursor: pointer;
  color: #000434;
  /* White */
  transition: background-color 0.2s ease, color 0.2s ease;
  gap: 10px;
  white-space: nowrap;
}

.nav-link:hover {
  background-color: #F5891E !important;
  /* Orange */
  color: #000434;
  /* White */
}

.nav-link.active {
  background-color: #F5891E !important;
  /* Orange */
  color: #000434;
  /* White */
}

.nav-icon {
  font-size: 1.25rem;
  color: #FFFFFF;
  /* White */
}

.nav-name {
  display: none;
  font-size: 1rem;
  color: #FFFFFF;
  /* White */
}

.sidebar:hover .nav-name {
  display: inline;
}

/* Main content */
.main-content {
  margin:15px;
  border-radius: 10px;
  flex-grow: 1;
  padding: 1.25rem 0.5rem;
  overflow-y: auto;
  background-color: #FFFFFF;
  /* White */
  color: #000434;
  /* Navy */
}

/* Scrollbar Styling */
.main-content::-webkit-scrollbar {
  width: 6px;
}

.main-content::-webkit-scrollbar-thumb {
  background-color: #F5891E;
  /* Orange */
  border-radius: 10px;
}


/* Container for the scanner */
.scanner-container {
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
}

/* Overlay to highlight the scanning area */
.scanner-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  /* Dark overlay */
  z-index: 1;
}

/* Transparent box for the barcode scanning area */
.scanner-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  height: 100px;
  /* Adjust height to match barcode shape */
  transform: translate(-50%, -50%);
  border: 2px solid #00ff00;
  /* Green border for the scanning area */
  background: transparent;
  z-index: 2;
}

/* custom-datepicker.css */
.react-datepicker {
  font-family: 'Hiragino Maru Gothic ProN', sans-serif;
  border-radius: 12px;
  border: 1px solid #ccc;
  width: 100%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.react-datepicker-wrapper {
  width: 100%;
  z-index: 10000;
}

.react-datepicker__header {
  background-color: #F5891E;
  color: #fff;
  border-bottom: none;
}

.react-datepicker__day--selected,
.react-datepicker__day--in-selecting-range,
.react-datepicker__day--in-range {
  background-color: #000434 !important;
  color: #fff;
}

.react-datepicker__day:hover {
  background-color: #F5891E;
  color: white;
}

@media (max-width: 767px) {

  .sidebar {
    display: none !important;
  }

  .hamburger-menu {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1100;
    background: #f5891e;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
  }
}





.side-mobile {
  background-color: #000434;
  /* Navy */
  color: #FFFFFF;
  /* White */
  width: 100% !important;
  transition: transform 3s ease;
  /* Animate transform */
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem 0;
  position: fixed;
  z-index: 10;

  /* Initially hide sidebar by shifting left */
  transform: translateX(-100%);
}

/* Class to show sidebar by resetting transform */
.side-mobile.open {
  transform: translateX(0);
}


.side-mobile .nav-logo-name {
  display: inline;
}

.side-mobile .nav-name {
  display: inline;
}